<!DOCTYPE html>
<html>
<head>
    <title>Gemini RAG Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="loginBox">
    <h2>Login</h2>
    <input id="username" placeholder="Username" />
    <input id="password" type="password" placeholder="Password" />
    <button onclick="login()">Login</button>
    <p id="loginError"></p>
</div>

<div id="chatBox" style="display:none;">
    <h2>📄 Company Policy Chatbot</h2>
    <div id="messages"></div>
    <input id="input" placeholder="Ask something..." />
    <button onclick="send()">Send</button>
</div>

<script>
let token = null;

async function login() {
    const res = await fetch("/login", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        })
    });

    const data = await res.json();

    if (!data.access_token) {
        document.getElementById("loginError").innerText = "Invalid login";
        return;
    }

    token = data.access_token;
    document.getElementById("loginBox").style.display = "none";
    document.getElementById("chatBox").style.display = "block";
}

async function send() {
    let message = document.getElementById("input").value;
    if (!message) return;

    document.getElementById("messages").innerHTML += 
        `<div class="user">You: ${message}</div>`;

    document.getElementById("input").value = "";

    const response = await fetch("/chat", {
        method: "POST",
        headers: {
            "Content-Type":"application/json",
            "Authorization":"Bearer " + token
        },
        body: JSON.stringify({message})
    });

    const data = await response.json();

    document.getElementById("messages").innerHTML += 
        `<div class="bot">Bot: ${data.reply}</div>`;
}
</script>

</body>
</html>
